<div class="home">
	<audio controls="controls"></audio>

	<ul data-part="listPart">
		{foreach src=this.list.data}
		{if this.playIndex==i}
		<li data-event="play:{i}" style="color:red">
			{else}
		<li data-event="play:{i}">
			{/if}
			<a href="javascript:void(0);">{sn}、{item.singer} - {item.song}</a>
			{if this.totalCount>1}
				<img class="home-arrow" src="images/arrow-up.png" data-event="goRise:{i}" />
				<img class="home-arrow" src="images/arrow-down.png" data-event="goDown:{i}" />
			{/if}
		</li>
		{/foreach}
	</ul>

	<ul class="home-buttons" data-part="controlPart">
		{if this.totalCount>1}
		<li><button data-event="goPrev">goPrev</button></li>
		<li><button data-event="goNext">goNext</button></li>
		{/if}
		<li><button data-event="chkNew">chkNew</button></li>
	</ul>
</div>